.pink{
    background-color: rgb(99, 152, 82);
}

.box1{
    width: 200px;
    height: 200px;
    background-color: rgb(197, 216, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1:hover{
    transition: all 1s;

}
.result {
    font-size:50px;
}
